@import url(index.css);
@import url(vagas.css);
@import url(quemSomos.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Roboto:wght@100;400;700&display=swap');


:root{
    --verde-principal:rgba(97, 255, 184, 1);
    --violeta-principal:rgba(198, 88, 255, 1);
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 153px;
}

.logo {
    width: 4em;
    height: 4em;
    margin: 2em;
}

.btn {
    background-color: gray;
    border-radius: 1px solid transparent;
    color: #FFF;
}

.navbar {

    background-color: #ece7ef;

}

.nav-item {
    align-items: center;
    font-size: 22px;
    color: black;
    padding-left: 1em;

}

body{
    background: rgb(97, 255, 184);
    background: linear-gradient(173deg, rgba(97, 255, 184, 1) 0%, rgba(198, 88, 255, 1) 100%);
}

footer{
    background-color: gray;
    color: aliceblue;
    width: 100%;
    height: 68px;
    bottom: 0;
    left: 0;
    opacity: 0.8;
}